<div id="<%= dom_id session_participant %>">
  <p>
    <strong>User:</strong>
    <%= session_participant.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= session_participant.group_id %>
  </p>

</div>
