<h1>Editing session participant</h1>

<%= render "form", session_participant: @session_participant %>

<br>

<div>
  <%= link_to "Show this session participant", @session_participant %> |
  <%= link_to "Back to session participants", session_participants_path %>
</div>
