<h1>Editing group session</h1>

<%= render "form", group_session: @group_session %>

<br>

<div>
  <%= link_to "Show this group session", @group_session %> |
  <%= link_to "Back to group sessions", group_sessions_path %>
</div>
