<h1> Welcome to BookmarK </h1>




<p> A virtual Book club </p> 

<div> 
<%= link_to "Sign in", new_user_session_path %> 
</div>
<div>
 <%= link_to "New user", new_user_path %> 
</div> 



<img src="https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg">
